.login, .register, .forgot-password{
    
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        input{
            height: 35px;
            padding: 4px;
        }
    }
}